# On ignore le dossier Autres et tout son contenu
Autres/
*.png
*.txt
# On ignore tous les fichiers de sauvegarde (extensions .json)
*.json

# On ignore les fichiers spécifiques
ideas.txt
test tqt.py
__init__.py
# Bonus : On ignore les dossiers poubelles de Python
__pycache__/
.vscode/